@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.9);
    transform-origin: center;
  }

  100% {
    opacity: 1;
    transform: scale(1);
    transform-origin: center;
  }
}

@media (min-width: 1000px) {
  .fullHeight {
    height: calc(100vh - 75px) !important;
  }
}

.imgContainer {
  height: 100%;
  width: 100%;
}

.heroImg {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contentContainer {
  font-weight: 700;
  width: 100%;
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.title {
  font-family: 'Sacramento', sans-serif;
  font-size: clamp(2.7rem, calc(1.2955rem + 6.4204vw), 9rem);
}

.phrase {
  padding: 0 30px;
  margin: calc(20px + 3vw) 0;
  font-size: clamp(1.7rem, calc(1.3433rem + 1.6306vw), 3.3rem);
  font-style: italic;
  font-weight: 500;
  line-height: 1.6;
  max-width: 800px;
  animation-name: appear;
  animation-duration: 1.4s;
  .fat {
    font-weight: 700;
  }
}

@media (max-width: 1000px) {
  .contentContainer {
    top: 25%;
  }
}
