.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 200px 0 70px 0;
}

.head {
  font-size: clamp(1.7rem, calc(1.3433rem + 1.6306vw), 3.3rem);
  font-weight: 900;
  margin-bottom: 25px;
}

.line {
  content: '';
  position: absolute;
  height: 0;
  left: 0;
  border-bottom: 5px black solid;
  border-radius: 5px;
}

.leftLines {
  &::before {
    @extend .line;
    width: 90vw;
    top: 100px;
  }
  &::after {
    @extend .line;
    width: 70vw;
    top: 130px;
  }
}

.rightLines {
  &::before {
    @extend .line;
    width: 90vw;
    top: 100px;
    left: unset;
    right: 0;
  }
  &::after {
    content: '';
    position: absolute;
    width: 70vw;
    height: 0;
    top: 130px;
    right: 0;
    border-bottom: 5px black solid;
    border-radius: 5px;
  }
}
.subHead {
  max-width: 800px;
}

@media (max-width: 800px) {
  .wrapper {
    padding: 120px 0 35px 0;
  }
  .rightLines,
  .leftLines {
    &::before {
      top: 50px;
    }
    &::after {
      top: 75px;
    }
  }
  .head {
    margin-bottom: 20px;
  }
  .subHead {
    font-size: 1rem;
    max-width: 90%;
  }
}
