.productBox {
  background: #121111;
  color: white;
  margin: 25px 0;
  width: 90%;
  height: 300px;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  &:nth-child(even) {
    align-self: flex-end;
    flex-direction: row-reverse;
    .textContainer {
      align-items: flex-end;
    }
    .productDesc {
      text-align: right;
    }
  }
}
.textContainer {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 1;
  margin: 20px 40px;
}
.imageContainer {
  position: relative;
  flex-shrink: 0;
  height: 100%;
  flex-basis: 30%;
  background-size: cover;
  border-radius: 25px;
  .productImage {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: left;
    border-radius: 25px;
  }
}
.productName {
  font-size: 4rem;
  font-family: 'Sacramento', sans-serif;
  margin-bottom: 1rem;
}
.productDesc {
  font-size: 1.1rem;
  max-width: 90%;
}

@media (max-width: 1200px) {
  .productBox {
    border-radius: 0 25px 25px 0;
    height: 250px;
    &:nth-child(even) {
      border-radius: 25px 0 0 25px;
    }
  }
}

@media (max-width: 1000px) {
  .productName {
    font-size: 2.5rem;
  }
  .productDesc {
    max-width: 95%;
  }
}

@media (max-width: 800px) {
  .productBox {
    width: 90%;
    flex-direction: column;
    height: fit-content;
    align-self: center;
    border-radius: 25px;
    &:nth-child(even) {
      flex-direction: column;
      align-self: center;
      border-radius: 25px;
      .textContainer {
        align-items: center;
      }
      .productDesc {
        text-align: center;
      }
    }
  }
  .textContainer {
    text-align: center;
    margin: 25px 20px;
  }
  .imageContainer {
    height: 250px;
    width: 100%;
    flex-basis: unset;
  }
  .productDesc {
    font-size: 0.9rem;
    max-width: 100%;
  }
}
