.locationsWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.locationBox {
  margin: 0 25px;
  height: 100px;
  flex-basis: 1300px;
  flex-shrink: 1;
  flex-grow: 0;
  background-color: red;
}

.locationOptions {
  margin: 0 25px;
  flex-basis: 350px;
  flex-shrink: 0.2;
  flex-grow: 0;
  background: blueviolet;
}
