@keyframes fade {
  0% {
    filter: brightness(1);
  }

  50% {
    filter: brightness(0.05);
  }

  100% {
    filter: brightness(1);
  }
}

.locationsWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  @media (max-width: 1100px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.locationBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
  background: #121111;
  padding: 20px;
  border-radius: 25px;
  @media (max-width: 1100px) {
    width: 95%;
    margin: 0;
    padding: 20px 0;
  }
  &.transition {
    animation-name: fade;
    animation-duration: 1.2s;
  }
}

.locationMediaWrapper {
  height: 325px;
  width: 600px;
  transition: all 1.2s;
  filter: opacity(1);
  @media (max-width: 1100px) {
    width: 100%;
    height: 200px;
  }
  &.faded {
    filter: opacity(0);
    transition: 0.6s;
  }
  img,
  iframe {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 5%;
  }
}

.locationInfo {
  width: 100%;
  margin-top: 10px;
  color: white;
  .locationName {
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
  }
  .showMap {
    font-weight: 900;
    cursor: pointer;
  }
  .infoLine {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px 0;
    @media (max-width: 1100px) {
      font-size: 0.8rem;
    }
    &:first-of-type {
      border-bottom: 1px solid #c6c3c3;
    }
    > p {
      min-width: 50%;
      text-align: center;
      &:first-of-type {
        border-right: 1px solid #c6c3c3;
      }
    }
  }
}

.locationOptions {
  margin: 25px;
  flex-basis: 250px;
  display: flex;
  flex-direction: column;
  @media (max-width: 1100px) {
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: unset;
    margin: 0;
    width: 100%;
  }
  .locationSwitch {
    position: relative;
    width: 100%;
    height: fit-content;
    margin: 0 0 30px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    @media (max-width: 1100px) {
      width: 25%;
    }
    &:hover img {
      filter: brightness(0.8);
      transition: 0.3s;
    }
    p {
      padding: 25px 0;
      color: white;
      font-weight: 900;
      @media (max-width: 1100px) {
        font-size: 0.8rem;
        padding: 10px 0;
      }
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      transition: 0.3s;
      filter: brightness(0.5);
      border-radius: 15px;
    }
  }
}
